.Box {
  height: 100px;
  width: 90%;
  background-color: lightgray;
  border: 2px solid black;
  margin: 0 auto 20px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.Box--id {
  font-size: 3rem;
}

.Box-underlined {
  border-bottom: 4px solid red;
}

.compare {
  animation: compare .5s ease-out normal forwards; 
}

.right-swap {
  animation: right-swap 3s ease-out normal forwards; 
}

.left-swap {
  animation: left-swap 3s ease-out normal forwards; 
}