.Box {
  height: 100px;
  width: 90%;
  background-color: $gray;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px $dark-gray;
  margin: 0 auto 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.Box--id {
  font-size: 3rem;
}

.Box-final-position {
  background-color: $sorted-green;
}

.sorted {
  animation: sorted 1s ease-out normal forwards; 
}

.unsorted {
  animation: unsorted .5s ease-out normal forwards; 
}

.right-swap {
  animation: right-swap 1.2s ease-out normal forwards; 
}

.left-swap {
  animation: left-swap 1.2s ease-out normal forwards; 
}