.Demo {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 6px 1px darkgrey;
  margin: 0 10%;
  padding: 10px;
  height: 500px;
  display: grid;
  grid-template-rows: 60px 90px 245px 50px;
  grid-row-gap: 10px;
}

.Demo--h2 {
  font-size: 3rem;
}

.algorithm {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-content: end;
}

.algorithm--span {
  width: 90%;
  height: 4px;
  margin: auto;
}

.algorithm--span-underline {
  background-color: $compare-blue;
}