.explanation {
  display: grid;
  align-content: center;

  p {
    margin: 15px 30px;
    font-size: 1.8rem;

    span {
      font-weight: 700;
    }
  }

  .p--description {
    width: 500px;
    margin: auto;
  }
}

@media screen and (max-width: 666px) {
  .explanation {
    .p--description {
      width: 100%;
      margin: auto;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 555px) {
  .explanation {
    p {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .explanation {
    p {
      margin: 15px 0px;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .explanation {
    .p--description {
      width: 100%;
      margin: auto;
      font-size: 1.17rem;
    }
  }
}