.explanation {
  display: grid;
  align-content: center;

  p {
    margin: 15px 30px;
    font-size: 1.8rem;

    span {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 555px) {
  .explanation {
    p {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .explanation {
    p {
      margin: 15px 0px;
      font-size: 1.5rem;
    }
  }
}